<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
 <Appenders>
  <Console name="Console">
   <PatternLayout pattern="%d{ABSOLUTE} [%.3t] %-5level %logger{2} - %msg%n" />
  </Console>

  <Console name="ConsoleSQL">
   <PatternLayout pattern="%d{ABSOLUTE} [%.3t] QUERY %.-47msg ... %.28msg%n" />
  </Console>

<!--   <RollingFile name="RollingFileLog4jdbc" fileName="${sys:catalina.home}\logs\lnucompass\log4jdbc.log" -->
<!--                filePattern="${sys:catalina.home}\logs\lnucompass\$${date:yyyy-MM}\log4jdbc-%d{yyyy-MM-dd}-%i.log.gz"> -->
<!--     <PatternLayout pattern="%d{ABSOLUTE} [%.3t] QUERY %msg%n" /> -->
<!--     <Policies> -->
<!--       <TimeBasedTriggeringPolicy /> -->
<!--       <SizeBasedTriggeringPolicy size="47 MB"/> -->
<!--     </Policies> -->
<!--   </RollingFile>   -->
 </Appenders>

 <Loggers>
  <Logger name="org.springframework"					level="warn"/>
  <Logger name="org.springframework.transaction"		level="info"/>
  <Logger name="com.zaxxer.hikari"						level="warn"/>
  <Logger name="org.thymeleaf"							level="warn"/>
  <Logger name="org.thymeleaf.TemplateEngine.TIMER"		level="info"/>
  <Logger name="com.fasterxml.jackson"					level="info"/>

  <Logger name="log4jdbc.log4j2" 						level="info" additivity="false">
<!--    <AppenderRef ref="RollingFileLog4jdbc" /> -->
   <AppenderRef ref="ConsoleSQL"/>
   <MarkerFilter marker="LOG4JDBC_SQL" onMatch="NEUTRAL" onMismatch="DENY"/>
  </Logger>
  
  <Root level="info">
     <AppenderRef ref="Console" />
  </Root>
 </Loggers>
</Configuration>
